/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-color: #0f172a;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: "Roboto";
  font-size: 32px;
  color: #f8fafc;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.image {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 300px;
    height: 300px;
  }
}
